<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.mehcode.reactnative.splashscreen">
  <application>
    <activity
        android:name=".SplashActivity"
        android:adjustViewBounds="true"
        android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
        android:screenOrientation="portrait"
        android:theme="@style/SplashTheme">
    </activity>
  </application>
</manifest>
